services:
  bot:
    build:
      context: .
      target: prod
    container_name: bot-prod
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        compress: "true"

    networks:
      - app_network

  postgres:
    image: postgres:17-alpine
    container_name: postgres-dev
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart:
      unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
        compress: "true"
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    name: app_network_prod