[project]
name = "lessonsschedulebot"
version = "0.1.0"
description = "Add your description here"
requires-python = "==3.13.0"
dependencies = [
    "aiogram==3.23.0",
    "psycopg>=3.3.2",
    "pydantic-settings>=2.12.0",
    "sqlalchemy==2.0.45",
]


[dependency-groups]
dev = [
    "alembic>=1.17.2",
    "ruff>=0.14.8",
    "ty>=0.0.8",
]


[tool.ruff.format]
indent-style = "space"
quote-style = "double"

[tool.mypy]
plugins = [
    "pydantic.mypy"
]
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true


[tool.pyright]
reportMissingImports = false
pythonVersion = "3.10"
