[project]
name = "lessonsschedulebot"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "aiogram==3.22.0",
    "psycopg==3.3.2",
    "pydantic==2.11.10",
    "pydantic-settings>=2.12.0",
    "sqlalchemy>=2.0.44",
]


[dependency-groups]
dev = [
    "mypy>=1.19.0",
    "ruff>=0.14.8",
]

[tool.ruff]
lint.select = ['ALL']

[tool.ruff.format]
indent-style = "tab"

[tool.mypy]
plugins = [
    "pydantic.mypy"
]
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
