name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build_and_push_to_registry:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set lowercase owner
      id: vars
      run: echo "owner_lc=${OWNER,,}" >> $GITHUB_OUTPUT
      env:
        OWNER: ${{ github.repository_owner }}
    - 
      name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ghcr.io/${{ steps.vars.outputs.owner_lc }}/${{ github.event.repository.name }}:latest
